/*
################################################################################ 
##   Program: Nextflow riboSeq preprocessing pipeline  
##                                                                              
##   Copyright (c) Independent Data Lab UG, All rights reserved.                
##   The use of this source code is governed by a BSD-style license which can be
##   found in the LICENSE file in the root directory of this repository.        
##
##   This software is distributed without any warranty; without even the implied
##   warranty of merchantability or fitness for a particular purpose.  See the
##   above copyright notice for more information.
################################################################################
*/

/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * 
 * You can specify location of files or outputs in/to AWS S3 bucket
 * by specifying s3 URL.
 * ex: 
 * outdir  = "s3://my-output-bucket/dir"
 * raw_fastq = "s3://my-input-bucket/dir/fastq/raw/*_R1.fastq.gz"
 */

//defining key parameters

params {
  publish_dir_mode="copy" 

  // where the results(trimmed fastq, bam files, html) will be published
  outdir = "/path/to/output/dir"

  // where raw fastq files are located
  raw_fastq = "/path/to/raw/fastq/files/*.fq.gz"

  // command line arguments for fastqc, except file names
  fastqc_cmd_args = "--nogroup --threads 8"
 
  // command line cutadapt arguments for CircAID 
  // adapters are taken from CircAID ILM guidelines; 3' and 5' non-internal adapters
  cutadapt3_cmd_args = "--cores 4 --minimum-length 20 --cut 5 -a TCTCCTTGCATAATCACCAACC --discard-untrimmed"
  cutadapt5_cmd_args = "--cores 4 --minimum-length 20 --maximum-length 60 -g XGATGGAAGACGCCAAAAACAT --discard-untrimmed"

  // command line cutadapt arguments for Takara
  //  cutadapt3_cmd_args = "--cores 4 --minimum-length 20 --cut 3 -a A{10}"
  //  cutadapt5_cmd_args = "--cores 4 --minimum-length 20 -a A{10}"
 
  // command line arguments for bowtie2 alignemnt to rRNA, tRNA and ncRNA
  bowtie2_contaminants_cmd_args = "-p 8 -N 1 --no-1mm-upfront" 
  // command line arguments for bowtie2 alignemnt to transcripts
  bowtie2_cdna_cmd_args = "-p 8 -N 1 -k 5 --no-1mm-upfront" 
  // command line arguments for bowtie2 genome indexing
  bowtie2_index_cmd_args = "--threads 8" 

  // command line arguments for picard MarkDuplicates
  picard_markdups_cmd_args = "--REMOVE_DUPLICATES true -PG null --USE_JDK_DEFLATER true --USE_JDK_INFLATER true"

  // References
  // reference name - for own information
  reference_name = "gencode.v36"
  //location of reference files
  references {
    rRNA_fasta = "/path/to/ribosomal/rna/fasta/file/hs_rRNA.fa"
    tRNA_fasta = "/path/to/tRNA/fasta/file/hs_tRNA.fa"
    cDNA_fasta = "/path/to/transcripts/fasta/file.fa"
    // if you specify ncRNA fasta file location, it will be indexed 
    // and aligned against before aligning to cDNA
    // ncRNA_fasta = "/location/of/ncRNA/fasta/file.fa"
    bowtie2_ref_dir = "/path/to/bowtie/index/bowtie2" 
    gtf = "/path/to/gtf/file.gtf"
  }
}


profiles {
  awsbatch { includeConfig 'conf/aws.config' }
  local { includeConfig 'conf/local.config' }
}

manifest {
  name = 'Ribo-Seq translational profiling: preprocessing and RiboWaltz'
  author = 'Tatsiana Aneichyk'
  homePage = 'https://www.independentdatalab.com/'
  description = 'Preprocessing of ribo-seq fastq files, qc, alignment, removal of contaminants and riboWaltz p-site analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0dev'
}
