/*
################################################################################ 
##   Program: Nextflow riboSeq preprocessing pipeline  
##                                                                              
##   Copyright (c) Independent Data Lab UG, All rights reserved.                
##   The use of this source code is governed by a BSD-style license which can be
##   found in the LICENSE file in the root directory of this repository.        
##
##   This software is distributed without any warranty; without even the implied
##   warranty of merchantability or fitness for a particular purpose.  See the
##   above copyright notice for more information.
################################################################################
*/

/*
 * -------------------------------------------------
 *  Nextflow config file for running on AWS batch
 * -------------------------------------------------
 * Base config needed for running with -profile awsbatch
 */

params {
  config_profile_name = 'AWSBATCH'
  config_profile_description = 'AWSBATCH Cloud Profile'
  config_profile_contact = 'Independent Data Lab'
  config_profile_url = 'https://aws.amazon.com/de/batch/'
}

workDir = 's3://nf-work-bucket.idl.com/nf-ribo'

process{
  executor = 'awsbatch'
  // Per-process configuration
  withName:fastqc {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/fastqc'
      cpus = 2
      memory = '16GB'
      queue = 'high_priority'
    }
  withName:cutadapt3 {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/trimgalore'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:cutadapt5 {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/trimgalore'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:trimmed_fastqc {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/fastqc'
      cpus = 2
      memory = '16GB'
      queue = 'high_priority'
    }
  withName:samtools_sam_sort {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/samtools'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:samtools_bam_index {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/samtools'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:picard_MarkDuplicates {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/picard'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:multiqc {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/multiqc'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:bowtie2_index_ref {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/bowtie2'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:bowtie2_index_ncRNA {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/bowtie2'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:bowtie2_align {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/bowtie2'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
  }
  withName:ribowaltz {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/ribowaltz'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
  }
}

docker {
    enabled = true
}


