/*
################################################################################ 
##   Program: Nextflow riboSeq preprocessing pipeline  
##                                                                              
##   Copyright (c) Independent Data Lab UG, All rights reserved.                
##   The use of this source code is governed by a BSD-style license which can be
##   found in the LICENSE file in the root directory of this repository.        
##
##   This software is distributed without any warranty; without even the implied
##   warranty of merchantability or fitness for a particular purpose.  See the
##   above copyright notice for more information.
################################################################################
*/

/*
 * -------------------------------------------------
 *  Nextflow config file for running locally
 * -------------------------------------------------
 * Base config needed for running with -profile local
 */

params {
  config_profile_name = 'LOCAL'
  config_profile_description = 'Profile to run on the personal computer'
  config_profile_contact = 'Independent Data Lab'
}

workDir = 'nf_workdir'

